<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PokemonUtility.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PokemonUtility.Properties.Settings>
            <setting name="CaptureX" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="CaptureY" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="CaptureWidth" serializeAs="String">
                <value>640</value>
            </setting>
            <setting name="CaptureHeight" serializeAs="String">
                <value>360</value>
            </setting>
            <setting name="MyPartyWindowX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MyPartyWindowY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OpponentPartyWindowX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OpponentPartyWindowY" serializeAs="String">
                <value>0</value>
            </setting>
        </PokemonUtility.Properties.Settings>
    </userSettings>
</configuration>